.card_wrapper {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: var(--c-black);
  background-color: var(--c-white);
  height: 62px;
  width: 100%;
  border: 2px solid var(--c-blue);
  border-radius: 1.6rem;
  font-weight: 600;
  font-size: 1.6rem;
  display: flex;
  position: relative;
  margin-top: 8px;

  &:hover {
    background-color: var(--c-hover-white);
  }
  .num {
    width: 30px;
    height: 30px;
    background-color: var(--c-blue);
    color: var(--c-white);
    font-weight: 600;
    border-radius: 8px;
    line-height: 30px;
    margin: auto 0 auto 8px;
  }
  .name {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 30px;
    line-height: 30px;
  }
}
