:root {
  --c-black: #000;
  --c-orange: #F5683A;
  --c-yellow: #F3A828;
  --c-green: #218549;
  --c-blue: #004B8F;
  --c-pink: #EC4D60;
  --c-white: #FFF;
  --c-gray: #D9D9D9;
  --bg-gray: #F4F4F4;
  --text-gray: #A3A3A3;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-gray)
}