:root {
  --c-black: #000;
  --c-orange: #f5683a;
  --c-hover-orange: #f4764c;
  --c-yellow: #f3a828;
  --c-green: #218549;
  --c-blue: #004b8f;
  --c-pink: #ec4d60;
  --c-white: #fff;
  --c-hover-white: #ffe7df;
  --c-gray: #d9d9d9;
  --bg-gray: #f4f4f4;
  --text-gray: #a3a3a3;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-gray);
}
